<form action="/articles" method="post">
  Article Name: <input type="text" name="title" id="title"><br />
  Article content: <input type="text" name="content" id="title"><br />
  <button type="submit" value="submit">Submit</button>
</form>
