<form method = "post" action = "/articles" >
	Article Name: <input id = "title" type = "text" name ="title" >
	Article Content: <input id= "content" type = "text"
	 name = "content">
	<input type ="submit" id = "submit" value = "submit" >

</form>