<h1>Article</h1>

<form method="post" action="/articles">
  <p>Title:</p>
  <textarea name="title"></textarea>
  <p>Content:</p>
  <textarea name="content"></textarea>
  <br>
  <button type="submit" value="submit">Submit</button>
</form>
