<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/articles" method="post">
      Title: <input type="string" name="title">
      Content: <input type="string" name="content">
      <input type="submit" value="submit">
    </form>

  </body>
</html>
