<h1>This is your article intake form on new.erb!</h1>
<form method="post" action="/articles">
  <input type="text" name="title">Article Title: </input>
  <input type="text" name="content">Content: </input>
  <input type="submit" name="submit" id="submit" value="submit">
</form>
