<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

      <%= @article.title %>
      <%= @article.content %>

      <a href = "/articles/<%= @article.id %>/edit">Edit</a>

      <form method="post" action="/articles/<%= @article.id %>">
       <input type="hidden" name="_method" value="DELETE">
       <input type="submit" value="delete">
      </form>

  </body>
</html>
