<h1>This is your show page!!</h1>

<h2>
    <%=@article.title%>
    <%=@article.content%>
</h2>

<form method="post" action="/articles/<%=@article.id%>/delete">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="delete">
</form>
